.width_5 {
  width: 5%;
}

.height_5 {
  height: 5%;
}

.width_10 {
  width: 10%;
}

.height_10 {
  height: 10%;
}

.width_15 {
  width: 15%;
}

.height_15 {
  height: 15%;
}

.width_20 {
  width: 20%;
}

.height_20 {
  height: 20%;
}

.width_25 {
  width: 25%;
}

.height_25 {
  height: 25%;
}

.width_30 {
  width: 30%;
}

.height_30 {
  height: 30%;
}

.width_35 {
  width: 35%;
}

.height_35 {
  height: 35%;
}

.width_40 {
  width: 40%;
}

.height_40 {
  height: 40%;
}

.width_45 {
  width: 45%;
}

.height_45 {
  height: 45%;
}

.width_50 {
  width: 50%;
}

.height_50 {
  height: 50%;
}

.width_55 {
  width: 55%;
}

.height_55 {
  height: 55%;
}

.width_60 {
  width: 60%;
}

.height_60 {
  height: 60%;
}

.width_65 {
  width: 65%;
}

.height_65 {
  height: 65%;
}

.width_70 {
  width: 70%;
}

.height_70 {
  height: 70%;
}

.width_75 {
  width: 75%;
}

.height_75 {
  height: 75%;
}

.width_80 {
  width: 80%;
}

.height_80 {
  height: 80%;
}

.width_85 {
  width: 85%;
}

.height_85 {
  height: 85%;
}

.width_90 {
  width: 90%;
}

.height_90 {
  height: 90%;
}

.width_95 {
  width: 95%;
}

.height_95 {
  height: 95%;
}

.width_100 {
  width: 100%;
}

.height_100 {
  height: 100%;
}

.padding_5 {
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
}

.paddingLeft_5 {
  padding-left: 5px;
}

.paddingRight_5 {
  padding-right: 5px;
}

.paddingBottom_5 {
  padding-bottom: 5px;
}

.paddingTop_5 {
  padding-top: 5px;
}

.padding_10 {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.paddingLeft_10 {
  padding-left: 10px;
}

.paddingRight_10 {
  padding-right: 10px;
}

.paddingBottom_10 {
  padding-bottom: 10px;
}

.paddingTop_10 {
  padding-top: 10px;
}

.padding_15 {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.paddingLeft_15 {
  padding-left: 15px;
}

.paddingRight_15 {
  padding-right: 15px;
}

.paddingBottom_15 {
  padding-bottom: 15px;
}

.paddingTop_15 {
  padding-top: 15px;
}

.padding_20 {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.paddingLeft_20 {
  padding-left: 20px;
}

.paddingRight_20 {
  padding-right: 20px;
}

.paddingBottom_20 {
  padding-bottom: 20px;
}

.paddingTop_20 {
  padding-top: 20px;
}

.padding_25 {
  padding-left: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 25px;
}

.paddingLeft_25 {
  padding-left: 25px;
}

.paddingRight_25 {
  padding-right: 25px;
}

.paddingBottom_25 {
  padding-bottom: 25px;
}

.paddingTop_25 {
  padding-top: 25px;
}

.padding_30 {
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.paddingLeft_30 {
  padding-left: 30px;
}

.paddingRight_30 {
  padding-right: 30px;
}

.paddingBottom_30 {
  padding-bottom: 30px;
}

.paddingTop_30 {
  padding-top: 30px;
}

.margin5 {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.marginLeft_5 {
  margin-left: 5px;
}

.marginRight_5 {
  margin-right: 5px;
}

.marginBottom_5 {
  margin-bottom: 5px;
}

.marginTop_5 {
  margin-top: 5px;
}

.margin10 {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.marginLeft_10 {
  margin-left: 10px;
}

.marginRight_10 {
  margin-right: 10px;
}

.marginBottom_10 {
  margin-bottom: 10px;
}

.marginTop_10 {
  margin-top: 10px;
}

.margin15 {
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 15px;
}

.marginLeft_15 {
  margin-left: 15px;
}

.marginRight_15 {
  margin-right: 15px;
}

.marginBottom_15 {
  margin-bottom: 15px;
}

.marginTop_15 {
  margin-top: 15px;
}

.margin20 {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.marginLeft_20 {
  margin-left: 20px;
}

.marginRight_20 {
  margin-right: 20px;
}

.marginBottom_20 {
  margin-bottom: 20px;
}

.marginTop_20 {
  margin-top: 20px;
}

.margin25 {
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-right: 25px;
}

.marginLeft_25 {
  margin-left: 25px;
}

.marginRight_25 {
  margin-right: 25px;
}

.marginBottom_25 {
  margin-bottom: 25px;
}

.marginTop_25 {
  margin-top: 25px;
}

.margin30 {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 30px;
}

.marginLeft_30 {
  margin-left: 30px;
}

.marginRight_30 {
  margin-right: 30px;
}

.marginBottom_30 {
  margin-bottom: 30px;
}

.marginTop_30 {
  margin-top: 30px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clearFix:before, .clearFix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearFix:after {
  clear: both;
}

.clearText {
  text-indent: -9999px;
  white-space: nowrap;
  line-height: 0;
  font-size: 0;
}

table.table_border {
  border-collapse: collapse;
  background-color: white;
  color: #666666;
}
table.table_border td, table.table_border th {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  border-width: 1px;
  border-color: #e2e2e2;
  border-style: solid;
}

table.table_horizontal {
  border-collapse: collapse;
  color: #666666;
}
table.table_horizontal tr {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
table.table_horizontal td, table.table_horizontal th {
  padding: 5px;
  text-align: left;
  font-weight: normal;
}

table.table_vertical {
  border-collapse: collapse;
  color: #666666;
}
table.table_vertical td, table.table_vertical th {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  border-right-width: 1px;
  border-right-style: solid;
}
table.table_vertical td:first-child, table.table_vertical th:first-child {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  border-left-width: 1px;
  border-left-style: solid;
}
