[class*=sk_header_main], [class*=sk_headergreen_main] {
  color: white;
  line-height: 1.6;
}

.sk_header_main1, .sk_headergreen_main1 {
  padding-left: 5px;
  background-color: #00b300;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(100%, #006600));
  background-image: -webkit-linear-gradient(top, #00b300, #006600);
  background-image: -moz-linear-gradient(top, #00b300, #006600);
  background-image: -o-linear-gradient(top, #00b300, #006600);
  background-image: linear-gradient(top, #00b300, #006600);
}

.sk_header_main2, .sk_headergreen_main2 {
  padding-left: 5px;
  background-color: #00b300;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(100%, #006600));
  background-image: -webkit-linear-gradient(top, #00b300, #006600);
  background-image: -moz-linear-gradient(top, #00b300, #006600);
  background-image: -o-linear-gradient(top, #00b300, #006600);
  background-image: linear-gradient(top, #00b300, #006600);
}

.sk_header_main3, .sk_headergreen_main3 {
  padding-left: 5px;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(50%, #006600), color-stop(100%, #00b300));
  background-image: -webkit-linear-gradient(top, #00b300, #006600, #00b300);
  background-image: -moz-linear-gradient(top, #00b300, #006600, #00b300);
  background-image: -o-linear-gradient(top, #00b300, #006600, #00b300);
  background-image: linear-gradient(top, #00b300, #006600, #00b300);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.sk_header_main4, .sk_headergreen_main4 {
  padding-left: 0.5em;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006600), color-stop(100%, #00b300));
  background-image: -webkit-linear-gradient(top, #006600, #00b300);
  background-image: -moz-linear-gradient(top, #006600, #00b300);
  background-image: -o-linear-gradient(top, #006600, #00b300);
  background-image: linear-gradient(top, #006600, #00b300);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_main5, .sk_headergreen_main5 {
  padding-left: 5px;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #006600), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #006600 40%, #ffffff);
  background-image: -moz-linear-gradient(top, #006600 40%, #ffffff);
  background-image: -o-linear-gradient(top, #006600 40%, #ffffff);
  background-image: linear-gradient(top, #006600 40%, #ffffff);
}

.sk_header_main6, .sk_headergreen_main6 {
  padding-left: 5px;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #006600));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #006600);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #006600);
  background-image: -o-linear-gradient(top, #ffffff 10%, #006600);
  background-image: linear-gradient(top, #ffffff 10%, #006600);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sk_header_main7, .sk_headergreen_main7 {
  padding-left: 5px;
  border-bottom-color: #006600;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #006600));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #006600);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #006600);
  background-image: -o-linear-gradient(top, #ffffff 10%, #006600);
  background-image: linear-gradient(top, #ffffff 10%, #006600);
}

.sk_header_main8, .sk_headergreen_main8 {
  padding-left: 5px;
  border-bottom-color: #001a00;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #006600;
}

.sk_header_main9, .sk_headergreen_main9 {
  border-left-color: #00b33c;
  border-left-style: solid;
  border-left-width: 0.25em;
  padding-left: 0.5em;
  background-color: #00b300;
}

.sk_header_main10, .sk_headergreen_main10 {
  padding-left: 0.5em;
  border-color: #006600;
  border-style: solid;
  border-width: 2px;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006600), color-stop(100%, #00b300));
  background-image: -webkit-linear-gradient(top, #006600, #00b300);
  background-image: -moz-linear-gradient(top, #006600, #00b300);
  background-image: -o-linear-gradient(top, #006600, #00b300);
  background-image: linear-gradient(top, #006600, #00b300);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_main11, .sk_headergreen_main11 {
  padding-left: 5px;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(50%, #006600), color-stop(100%, #00b300));
  background-image: -webkit-linear-gradient(top, #00b300, #006600, #00b300);
  background-image: -moz-linear-gradient(top, #00b300, #006600, #00b300);
  background-image: -o-linear-gradient(top, #00b300, #006600, #00b300);
  background-image: linear-gradient(top, #00b300, #006600, #00b300);
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
}

.sk_header_main12, .sk_headergreen_main12 {
  padding-left: 5px;
  background-color: #00e626;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(100%, #00e626));
  background-image: -webkit-linear-gradient(top, #00b300, #00e626);
  background-image: -moz-linear-gradient(top, #00b300, #00e626);
  background-image: -o-linear-gradient(top, #00b300, #00e626);
  background-image: linear-gradient(top, #00b300, #00e626);
}

.sk_header_sub1, .sk_headergreen_sub1 {
  color: #12a112;
  line-height: 1.6;
  border-top-color: gainsboro;
  border-top-style: solid;
  border-top-width: 5px;
  border-bottom-color: #898989;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: white;
  margin-bottom: 0;
}

.sk_header_sub2, .sk_headergreen_sub2 {
  color: #12a112;
  line-height: 1.6;
  border-left-color: #d5d4d9;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub3, .sk_headergreen_sub3 {
  color: #12a112;
  line-height: 1.6;
  border-left-color: #00b300;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub4, .sk_headergreen_sub4 {
  color: #12a112;
  line-height: 1.6;
  border-bottom-color: #c8c8c8;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.sk_header_sub5, .sk_headergreen_sub5 {
  color: #12a112;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-left-color: #00b300;
  border-left-style: solid;
  border-left-width: 5px;
}

.sk_header_sub6, .sk_headergreen_sub6 {
  color: #12a112;
  line-height: 1.6;
  border-bottom-color: #12a112;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.sk_header_sub7, .sk_headergreen_sub7 {
  color: #006600;
  line-height: 1.6;
  border-bottom-color: #006600;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -o-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: linear-gradient(top, #ffffff 10%, #efefef);
}

.sk_header_sub8, .sk_headergreen_sub8 {
  color: #12a112;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-top-color: #00b300;
  border-top-style: solid;
  border-top-width: 5px;
}

.sk_header_sub9, .sk_headergreen_sub9 {
  line-height: 1.6;
  font-weight: bold;
  color: #12a112;
  letter-spacing: 0.5em;
}

.sk_block_main1, .sk_blockgreen_main1 {
  color: white;
  padding: 5px;
  background-color: #00b300;
}

.sk_block_main2, .sk_blockgreen_main2 {
  color: white;
  padding: 5px;
  background-color: #00b300;
  border-color: #006600;
  border-style: dotted;
  border-width: 2px;
}

.sk_block_main3, .sk_blockgreen_main3 {
  color: white;
  padding: 5px;
  background-color: #00b300;
  border-top-color: #006600;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-color: #006600;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.sk_table_main1, .sk_tablegreen_main1 {
  border-collapse: collapse;
  color: #666666;
  background-color: white;
}
.sk_table_main1 td, .sk_table_main1 th, .sk_tablegreen_main1 td, .sk_tablegreen_main1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main1 tbody th, .sk_table_main1 th, .sk_tablegreen_main1 tbody th, .sk_tablegreen_main1 th {
  color: white;
  background-color: #12a112;
  background-image: none;
  border-bottom-color: #0d730d;
}
.sk_table_main1 thead th, .sk_table_main1 thead td, .sk_tablegreen_main1 thead th, .sk_tablegreen_main1 thead td {
  color: white;
  border-color: #0d730d;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006600), color-stop(100%, #001a00));
  background-image: -webkit-linear-gradient(top, #006600, #001a00);
  background-image: -moz-linear-gradient(top, #006600, #001a00);
  background-image: -o-linear-gradient(top, #006600, #001a00);
  background-image: linear-gradient(top, #006600, #001a00);
}
.sk_table_main1 td:first-child, .sk_table_main1 th:first-child, .sk_tablegreen_main1 td:first-child, .sk_tablegreen_main1 th:first-child {
  border-left-width: 0;
}

.sk_table_main2, .sk_tablegreen_main2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main2 tr, .sk_tablegreen_main2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main2 td, .sk_table_main2 th, .sk_tablegreen_main2 td, .sk_tablegreen_main2 th {
  padding: 5px;
}
.sk_table_main2 tbody th, .sk_table_main2 th, .sk_tablegreen_main2 tbody th, .sk_tablegreen_main2 th {
  color: white;
  background-color: #12a112;
  background-image: none;
  border-bottom-color: #0d730d;
}
.sk_table_main2 thead th, .sk_table_main2 thead td, .sk_tablegreen_main2 thead th, .sk_tablegreen_main2 thead td {
  color: white;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006600), color-stop(100%, #001a00));
  background-image: -webkit-linear-gradient(top, #006600, #001a00);
  background-image: -moz-linear-gradient(top, #006600, #001a00);
  background-image: -o-linear-gradient(top, #006600, #001a00);
  background-image: linear-gradient(top, #006600, #001a00);
}

.sk_table_main3, .sk_tablegreen_main3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #12a112;
  border-style: solid;
  border-width: 3px;
}
.sk_table_main3 td, .sk_table_main3 th, .sk_tablegreen_main3 td, .sk_tablegreen_main3 th {
  padding: 5px;
  border-right-color: #12a112;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_main3 tbody th, .sk_table_main3 th, .sk_tablegreen_main3 tbody th, .sk_tablegreen_main3 th {
  color: white;
  background-color: #12a112;
  background-image: none;
  border-bottom-color: #0d730d;
}
.sk_table_main3 th, .sk_table_main3 thead td, .sk_tablegreen_main3 th, .sk_tablegreen_main3 thead td {
  color: white;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006600), color-stop(100%, #001a00));
  background-image: -webkit-linear-gradient(top, #006600, #001a00);
  background-image: -moz-linear-gradient(top, #006600, #001a00);
  background-image: -o-linear-gradient(top, #006600, #001a00);
  background-image: linear-gradient(top, #006600, #001a00);
}

.sk_table_main4, .sk_tablegreen_main4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main4 tr, .sk_tablegreen_main4 tr {
  border-bottom-color: #12a112;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main4 td, .sk_table_main4 th, .sk_tablegreen_main4 td, .sk_tablegreen_main4 th {
  padding: 5px;
}
.sk_table_main4 tbody th, .sk_table_main4 th, .sk_tablegreen_main4 tbody th, .sk_tablegreen_main4 th {
  color: white;
  background-color: #12a112;
  background-image: none;
  border-bottom-color: #0d730d;
}
.sk_table_main4 th, .sk_table_main4 thead td, .sk_tablegreen_main4 th, .sk_tablegreen_main4 thead td {
  color: white;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006600), color-stop(100%, #001a00));
  background-image: -webkit-linear-gradient(top, #006600, #001a00);
  background-image: -moz-linear-gradient(top, #006600, #001a00);
  background-image: -o-linear-gradient(top, #006600, #001a00);
  background-image: linear-gradient(top, #006600, #001a00);
}

.sk_table_main5, .sk_tablegreen_main5 {
  border-collapse: collapse;
  color: #666666;
  border-color: #0d730d;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_main5 td, .sk_table_main5 th, .sk_tablegreen_main5 td, .sk_tablegreen_main5 th {
  padding: 5px;
  border-color: #12a112;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main5 tbody th, .sk_table_main5 th, .sk_tablegreen_main5 tbody th, .sk_tablegreen_main5 th {
  color: white;
  background-color: #12a112;
  background-image: none;
  border-bottom-color: green;
}
.sk_table_main5 thead th, .sk_table_main5 thead td, .sk_tablegreen_main5 thead th, .sk_tablegreen_main5 thead td {
  color: white;
  border-color: #0d730d;
  background-color: #006600;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006600), color-stop(100%, #001a00));
  background-image: -webkit-linear-gradient(top, #006600, #001a00);
  background-image: -moz-linear-gradient(top, #006600, #001a00);
  background-image: -o-linear-gradient(top, #006600, #001a00);
  background-image: linear-gradient(top, #006600, #001a00);
}

.sk_table_sub1, .sk_tablegreen_sub1 {
  border-collapse: collapse;
  color: #666666;
  border-color: green;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_sub1 td, .sk_table_sub1 th, .sk_tablegreen_sub1 td, .sk_tablegreen_sub1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_sub1 tbody th, .sk_table_sub1 th, .sk_tablegreen_sub1 tbody th, .sk_tablegreen_sub1 th {
  color: #12a112;
  border-color: #006600;
  background-color: white;
}
.sk_table_sub1 thead th, .sk_table_sub1 thead td, .sk_tablegreen_sub1 thead th, .sk_tablegreen_sub1 thead td {
  color: #12a112;
  border-color: #006600;
  background-color: white;
}

.sk_table_sub2, .sk_tablegreen_sub2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub2 tr, .sk_tablegreen_sub2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub2 td, .sk_table_sub2 th, .sk_tablegreen_sub2 td, .sk_tablegreen_sub2 th {
  padding: 5px;
}
.sk_table_sub2 tbody th, .sk_table_sub2 th, .sk_tablegreen_sub2 tbody th, .sk_tablegreen_sub2 th {
  color: white;
  background-color: #00b300;
  background-image: none;
  border-bottom-color: #0d730d;
}
.sk_table_sub2 thead th, .sk_table_sub2 thead td, .sk_tablegreen_sub2 thead th, .sk_tablegreen_sub2 thead td {
  color: #12a112;
  border-color: #006600;
  background-color: white;
  border-bottom-color: green;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.sk_table_sub3, .sk_tablegreen_sub3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #12a112;
  border-style: solid;
  border-width: 2px;
}
.sk_table_sub3 td, .sk_table_sub3 th, .sk_tablegreen_sub3 td, .sk_tablegreen_sub3 th {
  padding: 5px;
  border-right-color: #00b300;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_sub3 tbody th, .sk_table_sub3 th, .sk_tablegreen_sub3 tbody th, .sk_tablegreen_sub3 th {
  color: #00b300;
  border-color: #006600;
  background-color: white;
}
.sk_table_sub3 th, .sk_table_sub3 thead td, .sk_tablegreen_sub3 th, .sk_tablegreen_sub3 thead td {
  color: #12a112;
  border-color: #006600;
  background-color: white;
}

.sk_table_sub4, .sk_tablegreen_sub4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub4 tr, .sk_tablegreen_sub4 tr {
  border-bottom-color: #00b300;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub4 td, .sk_table_sub4 th, .sk_tablegreen_sub4 td, .sk_tablegreen_sub4 th {
  padding: 5px;
}
.sk_table_sub4 tbody th, .sk_table_sub4 th, .sk_tablegreen_sub4 tbody th, .sk_tablegreen_sub4 th {
  color: #12a112;
  border-color: #0d730d;
  background-color: white;
}
.sk_table_sub4 th, .sk_table_sub4 thead td, .sk_tablegreen_sub4 th, .sk_tablegreen_sub4 thead td {
  color: #12a112;
  border-color: #0d730d;
  background-color: white;
}

.sk_table_sub5, .sk_tablegreen_sub5 {
  border-collapse: collapse;
  background-color: white;
  border-top-color: #00b300;
  border-top-style: solid;
  border-top-width: 3px;
}
.sk_table_sub5 tr, .sk_tablegreen_sub5 tr {
  border-bottom-color: #00b300;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub5 td, .sk_table_sub5 th, .sk_tablegreen_sub5 td, .sk_tablegreen_sub5 th {
  padding: 5px;
}
.sk_table_sub5 tbody th, .sk_table_sub5 th, .sk_tablegreen_sub5 tbody th, .sk_tablegreen_sub5 th {
  color: #12a112;
  border-color: #0d730d;
  background-color: white;
}
.sk_table_sub5 th, .sk_table_sub5 thead td, .sk_tablegreen_sub5 th, .sk_tablegreen_sub5 thead td {
  color: #12a112;
  border-color: #0d730d;
  background-color: white;
}

.sk_list_main1, .sk_listgreen_main1 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sk_list_main1 > li, .sk_listgreen_main1 > li {
  color: white;
  padding: 0.25em;
  background-color: #00b300;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
