[class*=sk_header_main], [class*=sk_headerred_main] {
  color: white;
  line-height: 1.6;
}

.sk_header_main1, .sk_headerred_main1 {
  padding-left: 5px;
  background-color: #ff3333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #e60000));
  background-image: -webkit-linear-gradient(top, #ff3333, #e60000);
  background-image: -moz-linear-gradient(top, #ff3333, #e60000);
  background-image: -o-linear-gradient(top, #ff3333, #e60000);
  background-image: linear-gradient(top, #ff3333, #e60000);
}

.sk_header_main2, .sk_headerred_main2 {
  padding-left: 5px;
  background-color: #ff3333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #e60000));
  background-image: -webkit-linear-gradient(top, #ff3333, #e60000);
  background-image: -moz-linear-gradient(top, #ff3333, #e60000);
  background-image: -o-linear-gradient(top, #ff3333, #e60000);
  background-image: linear-gradient(top, #ff3333, #e60000);
}

.sk_header_main3, .sk_headerred_main3 {
  padding-left: 5px;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(50%, #e60000), color-stop(100%, #ff3333));
  background-image: -webkit-linear-gradient(top, #ff3333, #e60000, #ff3333);
  background-image: -moz-linear-gradient(top, #ff3333, #e60000, #ff3333);
  background-image: -o-linear-gradient(top, #ff3333, #e60000, #ff3333);
  background-image: linear-gradient(top, #ff3333, #e60000, #ff3333);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.sk_header_main4, .sk_headerred_main4 {
  padding-left: 0.5em;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e60000), color-stop(100%, #ff3333));
  background-image: -webkit-linear-gradient(top, #e60000, #ff3333);
  background-image: -moz-linear-gradient(top, #e60000, #ff3333);
  background-image: -o-linear-gradient(top, #e60000, #ff3333);
  background-image: linear-gradient(top, #e60000, #ff3333);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_main5, .sk_headerred_main5 {
  padding-left: 5px;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #e60000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e60000 40%, #ffffff);
  background-image: -moz-linear-gradient(top, #e60000 40%, #ffffff);
  background-image: -o-linear-gradient(top, #e60000 40%, #ffffff);
  background-image: linear-gradient(top, #e60000 40%, #ffffff);
}

.sk_header_main6, .sk_headerred_main6 {
  padding-left: 5px;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #e60000));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #e60000);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #e60000);
  background-image: -o-linear-gradient(top, #ffffff 10%, #e60000);
  background-image: linear-gradient(top, #ffffff 10%, #e60000);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sk_header_main7, .sk_headerred_main7 {
  padding-left: 5px;
  border-bottom-color: #e60000;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #e60000));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #e60000);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #e60000);
  background-image: -o-linear-gradient(top, #ffffff 10%, #e60000);
  background-image: linear-gradient(top, #ffffff 10%, #e60000);
}

.sk_header_main8, .sk_headerred_main8 {
  padding-left: 5px;
  border-bottom-color: #990000;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #e60000;
}

.sk_header_main9, .sk_headerred_main9 {
  border-left-color: #ff7733;
  border-left-style: solid;
  border-left-width: 0.25em;
  padding-left: 0.5em;
  background-color: #ff3333;
}

.sk_header_main10, .sk_headerred_main10 {
  padding-left: 0.5em;
  border-color: #e60000;
  border-style: solid;
  border-width: 2px;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e60000), color-stop(100%, #ff3333));
  background-image: -webkit-linear-gradient(top, #e60000, #ff3333);
  background-image: -moz-linear-gradient(top, #e60000, #ff3333);
  background-image: -o-linear-gradient(top, #e60000, #ff3333);
  background-image: linear-gradient(top, #e60000, #ff3333);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_main11, .sk_headerred_main11 {
  padding-left: 5px;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(50%, #e60000), color-stop(100%, #ff3333));
  background-image: -webkit-linear-gradient(top, #ff3333, #e60000, #ff3333);
  background-image: -moz-linear-gradient(top, #ff3333, #e60000, #ff3333);
  background-image: -o-linear-gradient(top, #ff3333, #e60000, #ff3333);
  background-image: linear-gradient(top, #ff3333, #e60000, #ff3333);
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
}

.sk_header_main12, .sk_headerred_main12 {
  padding-left: 5px;
  background-color: #ff7f66;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #ff7f66));
  background-image: -webkit-linear-gradient(top, #ff3333, #ff7f66);
  background-image: -moz-linear-gradient(top, #ff3333, #ff7f66);
  background-image: -o-linear-gradient(top, #ff3333, #ff7f66);
  background-image: linear-gradient(top, #ff3333, #ff7f66);
}

.sk_header_sub1, .sk_headerred_sub1 {
  color: #eb4747;
  line-height: 1.6;
  border-top-color: gainsboro;
  border-top-style: solid;
  border-top-width: 5px;
  border-bottom-color: #898989;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: white;
  margin-bottom: 0;
}

.sk_header_sub2, .sk_headerred_sub2 {
  color: #eb4747;
  line-height: 1.6;
  border-left-color: #d5d4d9;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub3, .sk_headerred_sub3 {
  color: #eb4747;
  line-height: 1.6;
  border-left-color: #ff3333;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub4, .sk_headerred_sub4 {
  color: #eb4747;
  line-height: 1.6;
  border-bottom-color: #c8c8c8;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.sk_header_sub5, .sk_headerred_sub5 {
  color: #eb4747;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-left-color: #ff3333;
  border-left-style: solid;
  border-left-width: 5px;
}

.sk_header_sub6, .sk_headerred_sub6 {
  color: #eb4747;
  line-height: 1.6;
  border-bottom-color: #eb4747;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.sk_header_sub7, .sk_headerred_sub7 {
  color: #e60000;
  line-height: 1.6;
  border-bottom-color: #e60000;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -o-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: linear-gradient(top, #ffffff 10%, #efefef);
}

.sk_header_sub8, .sk_headerred_sub8 {
  color: #eb4747;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-top-color: #ff3333;
  border-top-style: solid;
  border-top-width: 5px;
}

.sk_header_sub9, .sk_headerred_sub9 {
  line-height: 1.6;
  font-weight: bold;
  color: #eb4747;
  letter-spacing: 0.5em;
}

.sk_block_main1, .sk_blockred_main1 {
  color: white;
  padding: 5px;
  background-color: #ff3333;
}

.sk_block_main2, .sk_blockred_main2 {
  color: white;
  padding: 5px;
  background-color: #ff3333;
  border-color: #e60000;
  border-style: dotted;
  border-width: 2px;
}

.sk_block_main3, .sk_blockred_main3 {
  color: white;
  padding: 5px;
  background-color: #ff3333;
  border-top-color: #e60000;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-color: #e60000;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.sk_table_main1, .sk_tablered_main1 {
  border-collapse: collapse;
  color: #666666;
  background-color: white;
}
.sk_table_main1 td, .sk_table_main1 th, .sk_tablered_main1 td, .sk_tablered_main1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main1 tbody th, .sk_table_main1 th, .sk_tablered_main1 tbody th, .sk_tablered_main1 th {
  color: white;
  background-color: #eb4747;
  background-image: none;
  border-bottom-color: #e61919;
}
.sk_table_main1 thead th, .sk_table_main1 thead td, .sk_tablered_main1 thead th, .sk_tablered_main1 thead td {
  color: white;
  border-color: #e61919;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e60000), color-stop(100%, #990000));
  background-image: -webkit-linear-gradient(top, #e60000, #990000);
  background-image: -moz-linear-gradient(top, #e60000, #990000);
  background-image: -o-linear-gradient(top, #e60000, #990000);
  background-image: linear-gradient(top, #e60000, #990000);
}
.sk_table_main1 td:first-child, .sk_table_main1 th:first-child, .sk_tablered_main1 td:first-child, .sk_tablered_main1 th:first-child {
  border-left-width: 0;
}

.sk_table_main2, .sk_tablered_main2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main2 tr, .sk_tablered_main2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main2 td, .sk_table_main2 th, .sk_tablered_main2 td, .sk_tablered_main2 th {
  padding: 5px;
}
.sk_table_main2 tbody th, .sk_table_main2 th, .sk_tablered_main2 tbody th, .sk_tablered_main2 th {
  color: white;
  background-color: #eb4747;
  background-image: none;
  border-bottom-color: #e61919;
}
.sk_table_main2 thead th, .sk_table_main2 thead td, .sk_tablered_main2 thead th, .sk_tablered_main2 thead td {
  color: white;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e60000), color-stop(100%, #990000));
  background-image: -webkit-linear-gradient(top, #e60000, #990000);
  background-image: -moz-linear-gradient(top, #e60000, #990000);
  background-image: -o-linear-gradient(top, #e60000, #990000);
  background-image: linear-gradient(top, #e60000, #990000);
}

.sk_table_main3, .sk_tablered_main3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #eb4747;
  border-style: solid;
  border-width: 3px;
}
.sk_table_main3 td, .sk_table_main3 th, .sk_tablered_main3 td, .sk_tablered_main3 th {
  padding: 5px;
  border-right-color: #eb4747;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_main3 tbody th, .sk_table_main3 th, .sk_tablered_main3 tbody th, .sk_tablered_main3 th {
  color: white;
  background-color: #eb4747;
  background-image: none;
  border-bottom-color: #e61919;
}
.sk_table_main3 th, .sk_table_main3 thead td, .sk_tablered_main3 th, .sk_tablered_main3 thead td {
  color: white;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e60000), color-stop(100%, #990000));
  background-image: -webkit-linear-gradient(top, #e60000, #990000);
  background-image: -moz-linear-gradient(top, #e60000, #990000);
  background-image: -o-linear-gradient(top, #e60000, #990000);
  background-image: linear-gradient(top, #e60000, #990000);
}

.sk_table_main4, .sk_tablered_main4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main4 tr, .sk_tablered_main4 tr {
  border-bottom-color: #eb4747;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main4 td, .sk_table_main4 th, .sk_tablered_main4 td, .sk_tablered_main4 th {
  padding: 5px;
}
.sk_table_main4 tbody th, .sk_table_main4 th, .sk_tablered_main4 tbody th, .sk_tablered_main4 th {
  color: white;
  background-color: #eb4747;
  background-image: none;
  border-bottom-color: #e61919;
}
.sk_table_main4 th, .sk_table_main4 thead td, .sk_tablered_main4 th, .sk_tablered_main4 thead td {
  color: white;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e60000), color-stop(100%, #990000));
  background-image: -webkit-linear-gradient(top, #e60000, #990000);
  background-image: -moz-linear-gradient(top, #e60000, #990000);
  background-image: -o-linear-gradient(top, #e60000, #990000);
  background-image: linear-gradient(top, #e60000, #990000);
}

.sk_table_main5, .sk_tablered_main5 {
  border-collapse: collapse;
  color: #666666;
  border-color: #e61919;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_main5 td, .sk_table_main5 th, .sk_tablered_main5 td, .sk_tablered_main5 th {
  padding: 5px;
  border-color: #eb4747;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main5 tbody th, .sk_table_main5 th, .sk_tablered_main5 tbody th, .sk_tablered_main5 th {
  color: white;
  background-color: #eb4747;
  background-image: none;
  border-bottom-color: red;
}
.sk_table_main5 thead th, .sk_table_main5 thead td, .sk_tablered_main5 thead th, .sk_tablered_main5 thead td {
  color: white;
  border-color: #e61919;
  background-color: #e60000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e60000), color-stop(100%, #990000));
  background-image: -webkit-linear-gradient(top, #e60000, #990000);
  background-image: -moz-linear-gradient(top, #e60000, #990000);
  background-image: -o-linear-gradient(top, #e60000, #990000);
  background-image: linear-gradient(top, #e60000, #990000);
}

.sk_table_sub1, .sk_tablered_sub1 {
  border-collapse: collapse;
  color: #666666;
  border-color: red;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_sub1 td, .sk_table_sub1 th, .sk_tablered_sub1 td, .sk_tablered_sub1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_sub1 tbody th, .sk_table_sub1 th, .sk_tablered_sub1 tbody th, .sk_tablered_sub1 th {
  color: #eb4747;
  border-color: #e60000;
  background-color: white;
}
.sk_table_sub1 thead th, .sk_table_sub1 thead td, .sk_tablered_sub1 thead th, .sk_tablered_sub1 thead td {
  color: #eb4747;
  border-color: #e60000;
  background-color: white;
}

.sk_table_sub2, .sk_tablered_sub2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub2 tr, .sk_tablered_sub2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub2 td, .sk_table_sub2 th, .sk_tablered_sub2 td, .sk_tablered_sub2 th {
  padding: 5px;
}
.sk_table_sub2 tbody th, .sk_table_sub2 th, .sk_tablered_sub2 tbody th, .sk_tablered_sub2 th {
  color: white;
  background-color: #ff3333;
  background-image: none;
  border-bottom-color: #e61919;
}
.sk_table_sub2 thead th, .sk_table_sub2 thead td, .sk_tablered_sub2 thead th, .sk_tablered_sub2 thead td {
  color: #eb4747;
  border-color: #e60000;
  background-color: white;
  border-bottom-color: red;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.sk_table_sub3, .sk_tablered_sub3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #eb4747;
  border-style: solid;
  border-width: 2px;
}
.sk_table_sub3 td, .sk_table_sub3 th, .sk_tablered_sub3 td, .sk_tablered_sub3 th {
  padding: 5px;
  border-right-color: #ff3333;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_sub3 tbody th, .sk_table_sub3 th, .sk_tablered_sub3 tbody th, .sk_tablered_sub3 th {
  color: #ff3333;
  border-color: #e60000;
  background-color: white;
}
.sk_table_sub3 th, .sk_table_sub3 thead td, .sk_tablered_sub3 th, .sk_tablered_sub3 thead td {
  color: #eb4747;
  border-color: #e60000;
  background-color: white;
}

.sk_table_sub4, .sk_tablered_sub4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub4 tr, .sk_tablered_sub4 tr {
  border-bottom-color: #ff3333;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub4 td, .sk_table_sub4 th, .sk_tablered_sub4 td, .sk_tablered_sub4 th {
  padding: 5px;
}
.sk_table_sub4 tbody th, .sk_table_sub4 th, .sk_tablered_sub4 tbody th, .sk_tablered_sub4 th {
  color: #eb4747;
  border-color: #e61919;
  background-color: white;
}
.sk_table_sub4 th, .sk_table_sub4 thead td, .sk_tablered_sub4 th, .sk_tablered_sub4 thead td {
  color: #eb4747;
  border-color: #e61919;
  background-color: white;
}

.sk_table_sub5, .sk_tablered_sub5 {
  border-collapse: collapse;
  background-color: white;
  border-top-color: #ff3333;
  border-top-style: solid;
  border-top-width: 3px;
}
.sk_table_sub5 tr, .sk_tablered_sub5 tr {
  border-bottom-color: #ff3333;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub5 td, .sk_table_sub5 th, .sk_tablered_sub5 td, .sk_tablered_sub5 th {
  padding: 5px;
}
.sk_table_sub5 tbody th, .sk_table_sub5 th, .sk_tablered_sub5 tbody th, .sk_tablered_sub5 th {
  color: #eb4747;
  border-color: #e61919;
  background-color: white;
}
.sk_table_sub5 th, .sk_table_sub5 thead td, .sk_tablered_sub5 th, .sk_tablered_sub5 thead td {
  color: #eb4747;
  border-color: #e61919;
  background-color: white;
}

.sk_list_main1, .sk_listred_main1 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sk_list_main1 > li, .sk_listred_main1 > li {
  color: white;
  padding: 0.25em;
  background-color: #ff3333;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
