[class*=sk_header_main], [class*=sk_headeryellow_main] {
  color: white;
  line-height: 1.6;
}

.sk_header_main1, .sk_headeryellow_main1 {
  padding-left: 5px;
  background-color: #ffcc33;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc33), color-stop(100%, #e6ac00));
  background-image: -webkit-linear-gradient(top, #ffcc33, #e6ac00);
  background-image: -moz-linear-gradient(top, #ffcc33, #e6ac00);
  background-image: -o-linear-gradient(top, #ffcc33, #e6ac00);
  background-image: linear-gradient(top, #ffcc33, #e6ac00);
}

.sk_header_main2, .sk_headeryellow_main2 {
  padding-left: 5px;
  background-color: #ffcc33;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc33), color-stop(100%, #e6ac00));
  background-image: -webkit-linear-gradient(top, #ffcc33, #e6ac00);
  background-image: -moz-linear-gradient(top, #ffcc33, #e6ac00);
  background-image: -o-linear-gradient(top, #ffcc33, #e6ac00);
  background-image: linear-gradient(top, #ffcc33, #e6ac00);
}

.sk_header_main3, .sk_headeryellow_main3 {
  padding-left: 5px;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc33), color-stop(50%, #e6ac00), color-stop(100%, #ffcc33));
  background-image: -webkit-linear-gradient(top, #ffcc33, #e6ac00, #ffcc33);
  background-image: -moz-linear-gradient(top, #ffcc33, #e6ac00, #ffcc33);
  background-image: -o-linear-gradient(top, #ffcc33, #e6ac00, #ffcc33);
  background-image: linear-gradient(top, #ffcc33, #e6ac00, #ffcc33);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.sk_header_main4, .sk_headeryellow_main4 {
  padding-left: 0.5em;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6ac00), color-stop(100%, #ffcc33));
  background-image: -webkit-linear-gradient(top, #e6ac00, #ffcc33);
  background-image: -moz-linear-gradient(top, #e6ac00, #ffcc33);
  background-image: -o-linear-gradient(top, #e6ac00, #ffcc33);
  background-image: linear-gradient(top, #e6ac00, #ffcc33);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_main5, .sk_headeryellow_main5 {
  padding-left: 5px;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #e6ac00), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e6ac00 40%, #ffffff);
  background-image: -moz-linear-gradient(top, #e6ac00 40%, #ffffff);
  background-image: -o-linear-gradient(top, #e6ac00 40%, #ffffff);
  background-image: linear-gradient(top, #e6ac00 40%, #ffffff);
}

.sk_header_main6, .sk_headeryellow_main6 {
  padding-left: 5px;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #e6ac00));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #e6ac00);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #e6ac00);
  background-image: -o-linear-gradient(top, #ffffff 10%, #e6ac00);
  background-image: linear-gradient(top, #ffffff 10%, #e6ac00);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sk_header_main7, .sk_headeryellow_main7 {
  padding-left: 5px;
  border-bottom-color: #e6ac00;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #e6ac00));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #e6ac00);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #e6ac00);
  background-image: -o-linear-gradient(top, #ffffff 10%, #e6ac00);
  background-image: linear-gradient(top, #ffffff 10%, #e6ac00);
}

.sk_header_main8, .sk_headeryellow_main8 {
  padding-left: 5px;
  border-bottom-color: #997300;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #e6ac00;
}

.sk_header_main9, .sk_headeryellow_main9 {
  border-left-color: #eeff33;
  border-left-style: solid;
  border-left-width: 0.25em;
  padding-left: 0.5em;
  background-color: #ffcc33;
}

.sk_header_main10, .sk_headeryellow_main10 {
  padding-left: 0.5em;
  border-color: #e6ac00;
  border-style: solid;
  border-width: 2px;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6ac00), color-stop(100%, #ffcc33));
  background-image: -webkit-linear-gradient(top, #e6ac00, #ffcc33);
  background-image: -moz-linear-gradient(top, #e6ac00, #ffcc33);
  background-image: -o-linear-gradient(top, #e6ac00, #ffcc33);
  background-image: linear-gradient(top, #e6ac00, #ffcc33);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_main11, .sk_headeryellow_main11 {
  padding-left: 5px;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc33), color-stop(50%, #e6ac00), color-stop(100%, #ffcc33));
  background-image: -webkit-linear-gradient(top, #ffcc33, #e6ac00, #ffcc33);
  background-image: -moz-linear-gradient(top, #ffcc33, #e6ac00, #ffcc33);
  background-image: -o-linear-gradient(top, #ffcc33, #e6ac00, #ffcc33);
  background-image: linear-gradient(top, #ffcc33, #e6ac00, #ffcc33);
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
}

.sk_header_main12, .sk_headeryellow_main12 {
  padding-left: 5px;
  background-color: #fff266;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc33), color-stop(100%, #fff266));
  background-image: -webkit-linear-gradient(top, #ffcc33, #fff266);
  background-image: -moz-linear-gradient(top, #ffcc33, #fff266);
  background-image: -o-linear-gradient(top, #ffcc33, #fff266);
  background-image: linear-gradient(top, #ffcc33, #fff266);
}

.sk_header_sub1, .sk_headeryellow_sub1 {
  color: #ebc247;
  line-height: 1.6;
  border-top-color: gainsboro;
  border-top-style: solid;
  border-top-width: 5px;
  border-bottom-color: #898989;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: white;
  margin-bottom: 0;
}

.sk_header_sub2, .sk_headeryellow_sub2 {
  color: #ebc247;
  line-height: 1.6;
  border-left-color: #d5d4d9;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub3, .sk_headeryellow_sub3 {
  color: #ebc247;
  line-height: 1.6;
  border-left-color: #ffcc33;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub4, .sk_headeryellow_sub4 {
  color: #ebc247;
  line-height: 1.6;
  border-bottom-color: #c8c8c8;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.sk_header_sub5, .sk_headeryellow_sub5 {
  color: #ebc247;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-left-color: #ffcc33;
  border-left-style: solid;
  border-left-width: 5px;
}

.sk_header_sub6, .sk_headeryellow_sub6 {
  color: #ebc247;
  line-height: 1.6;
  border-bottom-color: #ebc247;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.sk_header_sub7, .sk_headeryellow_sub7 {
  color: #e6ac00;
  line-height: 1.6;
  border-bottom-color: #e6ac00;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -o-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: linear-gradient(top, #ffffff 10%, #efefef);
}

.sk_header_sub8, .sk_headeryellow_sub8 {
  color: #ebc247;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-top-color: #ffcc33;
  border-top-style: solid;
  border-top-width: 5px;
}

.sk_header_sub9, .sk_headeryellow_sub9 {
  line-height: 1.6;
  font-weight: bold;
  color: #ebc247;
  letter-spacing: 0.5em;
}

.sk_block_main1, .sk_blockyellow_main1 {
  color: white;
  padding: 5px;
  background-color: #ffcc33;
}

.sk_block_main2, .sk_blockyellow_main2 {
  color: white;
  padding: 5px;
  background-color: #ffcc33;
  border-color: #e6ac00;
  border-style: dotted;
  border-width: 2px;
}

.sk_block_main3, .sk_blockyellow_main3 {
  color: white;
  padding: 5px;
  background-color: #ffcc33;
  border-top-color: #e6ac00;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-color: #e6ac00;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.sk_table_main1, .sk_tableyellow_main1 {
  border-collapse: collapse;
  color: #666666;
  background-color: white;
}
.sk_table_main1 td, .sk_table_main1 th, .sk_tableyellow_main1 td, .sk_tableyellow_main1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main1 tbody th, .sk_table_main1 th, .sk_tableyellow_main1 tbody th, .sk_tableyellow_main1 th {
  color: white;
  background-color: #ebc247;
  background-image: none;
  border-bottom-color: #e6b219;
}
.sk_table_main1 thead th, .sk_table_main1 thead td, .sk_tableyellow_main1 thead th, .sk_tableyellow_main1 thead td {
  color: white;
  border-color: #e6b219;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6ac00), color-stop(100%, #997300));
  background-image: -webkit-linear-gradient(top, #e6ac00, #997300);
  background-image: -moz-linear-gradient(top, #e6ac00, #997300);
  background-image: -o-linear-gradient(top, #e6ac00, #997300);
  background-image: linear-gradient(top, #e6ac00, #997300);
}
.sk_table_main1 td:first-child, .sk_table_main1 th:first-child, .sk_tableyellow_main1 td:first-child, .sk_tableyellow_main1 th:first-child {
  border-left-width: 0;
}

.sk_table_main2, .sk_tableyellow_main2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main2 tr, .sk_tableyellow_main2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main2 td, .sk_table_main2 th, .sk_tableyellow_main2 td, .sk_tableyellow_main2 th {
  padding: 5px;
}
.sk_table_main2 tbody th, .sk_table_main2 th, .sk_tableyellow_main2 tbody th, .sk_tableyellow_main2 th {
  color: white;
  background-color: #ebc247;
  background-image: none;
  border-bottom-color: #e6b219;
}
.sk_table_main2 thead th, .sk_table_main2 thead td, .sk_tableyellow_main2 thead th, .sk_tableyellow_main2 thead td {
  color: white;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6ac00), color-stop(100%, #997300));
  background-image: -webkit-linear-gradient(top, #e6ac00, #997300);
  background-image: -moz-linear-gradient(top, #e6ac00, #997300);
  background-image: -o-linear-gradient(top, #e6ac00, #997300);
  background-image: linear-gradient(top, #e6ac00, #997300);
}

.sk_table_main3, .sk_tableyellow_main3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #ebc247;
  border-style: solid;
  border-width: 3px;
}
.sk_table_main3 td, .sk_table_main3 th, .sk_tableyellow_main3 td, .sk_tableyellow_main3 th {
  padding: 5px;
  border-right-color: #ebc247;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_main3 tbody th, .sk_table_main3 th, .sk_tableyellow_main3 tbody th, .sk_tableyellow_main3 th {
  color: white;
  background-color: #ebc247;
  background-image: none;
  border-bottom-color: #e6b219;
}
.sk_table_main3 th, .sk_table_main3 thead td, .sk_tableyellow_main3 th, .sk_tableyellow_main3 thead td {
  color: white;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6ac00), color-stop(100%, #997300));
  background-image: -webkit-linear-gradient(top, #e6ac00, #997300);
  background-image: -moz-linear-gradient(top, #e6ac00, #997300);
  background-image: -o-linear-gradient(top, #e6ac00, #997300);
  background-image: linear-gradient(top, #e6ac00, #997300);
}

.sk_table_main4, .sk_tableyellow_main4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main4 tr, .sk_tableyellow_main4 tr {
  border-bottom-color: #ebc247;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main4 td, .sk_table_main4 th, .sk_tableyellow_main4 td, .sk_tableyellow_main4 th {
  padding: 5px;
}
.sk_table_main4 tbody th, .sk_table_main4 th, .sk_tableyellow_main4 tbody th, .sk_tableyellow_main4 th {
  color: white;
  background-color: #ebc247;
  background-image: none;
  border-bottom-color: #e6b219;
}
.sk_table_main4 th, .sk_table_main4 thead td, .sk_tableyellow_main4 th, .sk_tableyellow_main4 thead td {
  color: white;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6ac00), color-stop(100%, #997300));
  background-image: -webkit-linear-gradient(top, #e6ac00, #997300);
  background-image: -moz-linear-gradient(top, #e6ac00, #997300);
  background-image: -o-linear-gradient(top, #e6ac00, #997300);
  background-image: linear-gradient(top, #e6ac00, #997300);
}

.sk_table_main5, .sk_tableyellow_main5 {
  border-collapse: collapse;
  color: #666666;
  border-color: #e6b219;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_main5 td, .sk_table_main5 th, .sk_tableyellow_main5 td, .sk_tableyellow_main5 th {
  padding: 5px;
  border-color: #ebc247;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main5 tbody th, .sk_table_main5 th, .sk_tableyellow_main5 tbody th, .sk_tableyellow_main5 th {
  color: white;
  background-color: #ebc247;
  background-image: none;
  border-bottom-color: #ffbf00;
}
.sk_table_main5 thead th, .sk_table_main5 thead td, .sk_tableyellow_main5 thead th, .sk_tableyellow_main5 thead td {
  color: white;
  border-color: #e6b219;
  background-color: #e6ac00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6ac00), color-stop(100%, #997300));
  background-image: -webkit-linear-gradient(top, #e6ac00, #997300);
  background-image: -moz-linear-gradient(top, #e6ac00, #997300);
  background-image: -o-linear-gradient(top, #e6ac00, #997300);
  background-image: linear-gradient(top, #e6ac00, #997300);
}

.sk_table_sub1, .sk_tableyellow_sub1 {
  border-collapse: collapse;
  color: #666666;
  border-color: #ffbf00;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_sub1 td, .sk_table_sub1 th, .sk_tableyellow_sub1 td, .sk_tableyellow_sub1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_sub1 tbody th, .sk_table_sub1 th, .sk_tableyellow_sub1 tbody th, .sk_tableyellow_sub1 th {
  color: #ebc247;
  border-color: #e6ac00;
  background-color: white;
}
.sk_table_sub1 thead th, .sk_table_sub1 thead td, .sk_tableyellow_sub1 thead th, .sk_tableyellow_sub1 thead td {
  color: #ebc247;
  border-color: #e6ac00;
  background-color: white;
}

.sk_table_sub2, .sk_tableyellow_sub2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub2 tr, .sk_tableyellow_sub2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub2 td, .sk_table_sub2 th, .sk_tableyellow_sub2 td, .sk_tableyellow_sub2 th {
  padding: 5px;
}
.sk_table_sub2 tbody th, .sk_table_sub2 th, .sk_tableyellow_sub2 tbody th, .sk_tableyellow_sub2 th {
  color: white;
  background-color: #ffcc33;
  background-image: none;
  border-bottom-color: #e6b219;
}
.sk_table_sub2 thead th, .sk_table_sub2 thead td, .sk_tableyellow_sub2 thead th, .sk_tableyellow_sub2 thead td {
  color: #ebc247;
  border-color: #e6ac00;
  background-color: white;
  border-bottom-color: #ffbf00;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.sk_table_sub3, .sk_tableyellow_sub3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #ebc247;
  border-style: solid;
  border-width: 2px;
}
.sk_table_sub3 td, .sk_table_sub3 th, .sk_tableyellow_sub3 td, .sk_tableyellow_sub3 th {
  padding: 5px;
  border-right-color: #ffcc33;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_sub3 tbody th, .sk_table_sub3 th, .sk_tableyellow_sub3 tbody th, .sk_tableyellow_sub3 th {
  color: #ffcc33;
  border-color: #e6ac00;
  background-color: white;
}
.sk_table_sub3 th, .sk_table_sub3 thead td, .sk_tableyellow_sub3 th, .sk_tableyellow_sub3 thead td {
  color: #ebc247;
  border-color: #e6ac00;
  background-color: white;
}

.sk_table_sub4, .sk_tableyellow_sub4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub4 tr, .sk_tableyellow_sub4 tr {
  border-bottom-color: #ffcc33;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub4 td, .sk_table_sub4 th, .sk_tableyellow_sub4 td, .sk_tableyellow_sub4 th {
  padding: 5px;
}
.sk_table_sub4 tbody th, .sk_table_sub4 th, .sk_tableyellow_sub4 tbody th, .sk_tableyellow_sub4 th {
  color: #ebc247;
  border-color: #e6b219;
  background-color: white;
}
.sk_table_sub4 th, .sk_table_sub4 thead td, .sk_tableyellow_sub4 th, .sk_tableyellow_sub4 thead td {
  color: #ebc247;
  border-color: #e6b219;
  background-color: white;
}

.sk_table_sub5, .sk_tableyellow_sub5 {
  border-collapse: collapse;
  background-color: white;
  border-top-color: #ffcc33;
  border-top-style: solid;
  border-top-width: 3px;
}
.sk_table_sub5 tr, .sk_tableyellow_sub5 tr {
  border-bottom-color: #ffcc33;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub5 td, .sk_table_sub5 th, .sk_tableyellow_sub5 td, .sk_tableyellow_sub5 th {
  padding: 5px;
}
.sk_table_sub5 tbody th, .sk_table_sub5 th, .sk_tableyellow_sub5 tbody th, .sk_tableyellow_sub5 th {
  color: #ebc247;
  border-color: #e6b219;
  background-color: white;
}
.sk_table_sub5 th, .sk_table_sub5 thead td, .sk_tableyellow_sub5 th, .sk_tableyellow_sub5 thead td {
  color: #ebc247;
  border-color: #e6b219;
  background-color: white;
}

.sk_list_main1, .sk_listyellow_main1 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sk_list_main1 > li, .sk_listyellow_main1 > li {
  color: white;
  padding: 0.25em;
  background-color: #ffcc33;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
