.sk_header_main1, .sk_headerviolet_main1 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #b00bb0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b00bb0), color-stop(100%, #680768));
  background-image: -webkit-linear-gradient(top, #b00bb0, #680768);
  background-image: -moz-linear-gradient(top, #b00bb0, #680768);
  background-image: -o-linear-gradient(top, #b00bb0, #680768);
  background-image: linear-gradient(top, #b00bb0, #680768);
}

.sk_header_main2, .sk_headerviolet_main2 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #b00bb0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b00bb0), color-stop(100%, #680768));
  background-image: -webkit-linear-gradient(top, #b00bb0, #680768);
  background-image: -moz-linear-gradient(top, #b00bb0, #680768);
  background-image: -o-linear-gradient(top, #b00bb0, #680768);
  background-image: linear-gradient(top, #b00bb0, #680768);
}

.sk_header_main3, .sk_headerviolet_main3 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #680768;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b00bb0), color-stop(50%, #680768), color-stop(100%, #b00bb0));
  background-image: -webkit-linear-gradient(top, #b00bb0, #680768, #b00bb0);
  background-image: -moz-linear-gradient(top, #b00bb0, #680768, #b00bb0);
  background-image: -o-linear-gradient(top, #b00bb0, #680768, #b00bb0);
  background-image: linear-gradient(top, #b00bb0, #680768, #b00bb0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.sk_header_main4, .sk_headerviolet_main4 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #680768;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #680768), color-stop(100%, #b00bb0));
  background-image: -webkit-linear-gradient(top, #680768, #b00bb0);
  background-image: -moz-linear-gradient(top, #680768, #b00bb0);
  background-image: -o-linear-gradient(top, #680768, #b00bb0);
  background-image: linear-gradient(top, #680768, #b00bb0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_main5, .sk_headerviolet_main5 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #680768;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #680768), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #680768 40%, #ffffff);
  background-image: -moz-linear-gradient(top, #680768 40%, #ffffff);
  background-image: -o-linear-gradient(top, #680768 40%, #ffffff);
  background-image: linear-gradient(top, #680768 40%, #ffffff);
}

.sk_header_main6, .sk_headerviolet_main6 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #680768;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #680768));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #680768);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #680768);
  background-image: -o-linear-gradient(top, #ffffff 10%, #680768);
  background-image: linear-gradient(top, #ffffff 10%, #680768);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sk_header_main7, .sk_headerviolet_main7 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  border-bottom-color: #680768;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #680768;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #680768));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #680768);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #680768);
  background-image: -o-linear-gradient(top, #ffffff 10%, #680768);
  background-image: linear-gradient(top, #ffffff 10%, #680768);
}

.sk_header_main8, .sk_headerviolet_main8 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  border-bottom-color: #200220;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #680768;
}

.sk_header_main9, .sk_headerviolet_main9 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  border-left-color: #b00b79;
  border-left-style: solid;
  border-left-width: 10px;
  background-color: #b00bb0;
}

.sk_header_main10, .sk_headerviolet_main10 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #680768;
  border-style: solid;
  border-width: 2px;
  background-color: #680768;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #680768), color-stop(100%, #b00bb0));
  background-image: -webkit-linear-gradient(top, #680768, #b00bb0);
  background-image: -moz-linear-gradient(top, #680768, #b00bb0);
  background-image: -o-linear-gradient(top, #680768, #b00bb0);
  background-image: linear-gradient(top, #680768, #b00bb0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_sub1, .sk_headerviolet_sub1 {
  color: #9d1e9d;
  line-height: 1.6;
  border-top-color: gainsboro;
  border-top-style: solid;
  border-top-width: 5px;
  border-bottom-color: #898989;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.sk_header_sub2, .sk_headerviolet_sub2 {
  color: #9d1e9d;
  line-height: 1.6;
  border-left-color: #d5d4d9;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub3, .sk_headerviolet_sub3 {
  color: #9d1e9d;
  line-height: 1.6;
  border-left-color: #b00bb0;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub4, .sk_headerviolet_sub4 {
  color: #9d1e9d;
  line-height: 1.6;
  border-bottom-color: #c8c8c8;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.sk_header_sub5, .sk_headerviolet_sub5 {
  color: #9d1e9d;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-left-color: #b00bb0;
  border-left-style: solid;
  border-left-width: 5px;
}

.sk_header_sub6, .sk_headerviolet_sub6 {
  color: #9d1e9d;
  line-height: 1.6;
  border-bottom-color: #9d1e9d;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.sk_header_sub7, .sk_headerviolet_sub7 {
  color: #680768;
  line-height: 1.6;
  border-bottom-color: #680768;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -o-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: linear-gradient(top, #ffffff 10%, #efefef);
}

.sk_table_main1, .sk_tableviolet_main1 {
  border-collapse: collapse;
  color: #666666;
  background-color: white;
}
.sk_table_main1 td, .sk_table_main1 th, .sk_tableviolet_main1 td, .sk_tableviolet_main1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main1 tbody th, .sk_table_main1 th, .sk_tableviolet_main1 tbody th, .sk_tableviolet_main1 th {
  color: white;
  background-color: #9d1e9d;
  background-image: none;
  border-bottom-color: #721672;
}
.sk_table_main1 thead th, .sk_table_main1 thead td, .sk_tableviolet_main1 thead th, .sk_tableviolet_main1 thead td {
  color: white;
  border-color: #721672;
  background-color: #b00bb0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b00bb0), color-stop(100%, #200220));
  background-image: -webkit-linear-gradient(top, #b00bb0, #200220);
  background-image: -moz-linear-gradient(top, #b00bb0, #200220);
  background-image: -o-linear-gradient(top, #b00bb0, #200220);
  background-image: linear-gradient(top, #b00bb0, #200220);
}
.sk_table_main1 td:first-child, .sk_table_main1 th:first-child, .sk_tableviolet_main1 td:first-child, .sk_tableviolet_main1 th:first-child {
  border-left-width: 0;
}

.sk_table_main2, .sk_tableviolet_main2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main2 tr, .sk_tableviolet_main2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main2 td, .sk_table_main2 th, .sk_tableviolet_main2 td, .sk_tableviolet_main2 th {
  padding: 5px;
}
.sk_table_main2 tbody th, .sk_table_main2 th, .sk_tableviolet_main2 tbody th, .sk_tableviolet_main2 th {
  color: white;
  background-color: #9d1e9d;
  background-image: none;
  border-bottom-color: #721672;
}
.sk_table_main2 thead th, .sk_table_main2 thead td, .sk_tableviolet_main2 thead th, .sk_tableviolet_main2 thead td {
  color: white;
  background-color: #b00bb0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b00bb0), color-stop(100%, #200220));
  background-image: -webkit-linear-gradient(top, #b00bb0, #200220);
  background-image: -moz-linear-gradient(top, #b00bb0, #200220);
  background-image: -o-linear-gradient(top, #b00bb0, #200220);
  background-image: linear-gradient(top, #b00bb0, #200220);
}

.sk_table_main3, .sk_tableviolet_main3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #9d1e9d;
  border-style: solid;
  border-width: 3px;
}
.sk_table_main3 td, .sk_table_main3 th, .sk_tableviolet_main3 td, .sk_tableviolet_main3 th {
  padding: 5px;
  border-right-color: #9d1e9d;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_main3 tbody th, .sk_table_main3 th, .sk_tableviolet_main3 tbody th, .sk_tableviolet_main3 th {
  color: white;
  background-color: #9d1e9d;
  background-image: none;
  border-bottom-color: #721672;
}
.sk_table_main3 th, .sk_table_main3 thead td, .sk_tableviolet_main3 th, .sk_tableviolet_main3 thead td {
  color: white;
  background-color: #b00bb0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b00bb0), color-stop(100%, #200220));
  background-image: -webkit-linear-gradient(top, #b00bb0, #200220);
  background-image: -moz-linear-gradient(top, #b00bb0, #200220);
  background-image: -o-linear-gradient(top, #b00bb0, #200220);
  background-image: linear-gradient(top, #b00bb0, #200220);
}

.sk_table_main4, .sk_tableviolet_main4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main4 tr, .sk_tableviolet_main4 tr {
  border-bottom-color: #9d1e9d;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main4 td, .sk_table_main4 th, .sk_tableviolet_main4 td, .sk_tableviolet_main4 th {
  padding: 5px;
}
.sk_table_main4 tbody th, .sk_table_main4 th, .sk_tableviolet_main4 tbody th, .sk_tableviolet_main4 th {
  color: white;
  background-color: #9d1e9d;
  background-image: none;
  border-bottom-color: #721672;
}
.sk_table_main4 th, .sk_table_main4 thead td, .sk_tableviolet_main4 th, .sk_tableviolet_main4 thead td {
  color: white;
  background-color: #b00bb0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b00bb0), color-stop(100%, #200220));
  background-image: -webkit-linear-gradient(top, #b00bb0, #200220);
  background-image: -moz-linear-gradient(top, #b00bb0, #200220);
  background-image: -o-linear-gradient(top, #b00bb0, #200220);
  background-image: linear-gradient(top, #b00bb0, #200220);
}

.sk_table_main5, .sk_tableviolet_main5 {
  border-collapse: collapse;
  color: #666666;
  border-color: #721672;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_main5 td, .sk_table_main5 th, .sk_tableviolet_main5 td, .sk_tableviolet_main5 th {
  padding: 5px;
  border-color: #9d1e9d;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main5 tbody th, .sk_table_main5 th, .sk_tableviolet_main5 tbody th, .sk_tableviolet_main5 th {
  color: white;
  background-color: #9d1e9d;
  background-image: none;
  border-bottom-color: #800880;
}
.sk_table_main5 thead th, .sk_table_main5 thead td, .sk_tableviolet_main5 thead th, .sk_tableviolet_main5 thead td {
  color: white;
  border-color: #721672;
  background-color: #b00bb0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b00bb0), color-stop(100%, #200220));
  background-image: -webkit-linear-gradient(top, #b00bb0, #200220);
  background-image: -moz-linear-gradient(top, #b00bb0, #200220);
  background-image: -o-linear-gradient(top, #b00bb0, #200220);
  background-image: linear-gradient(top, #b00bb0, #200220);
}

.sk_table_sub1, .sk_tableviolet_sub1 {
  border-collapse: collapse;
  color: #666666;
  border-color: #800880;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_sub1 td, .sk_table_sub1 th, .sk_tableviolet_sub1 td, .sk_tableviolet_sub1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_sub1 tbody th, .sk_table_sub1 th, .sk_tableviolet_sub1 tbody th, .sk_tableviolet_sub1 th {
  color: #9d1e9d;
  border-color: #800880;
  background-color: white;
}
.sk_table_sub1 thead th, .sk_table_sub1 thead td, .sk_tableviolet_sub1 thead th, .sk_tableviolet_sub1 thead td {
  color: #9d1e9d;
  border-color: #721672;
  background-color: white;
}

.sk_table_sub2, .sk_tableviolet_sub2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub2 tr, .sk_tableviolet_sub2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub2 td, .sk_table_sub2 th, .sk_tableviolet_sub2 td, .sk_tableviolet_sub2 th {
  padding: 5px;
}
.sk_table_sub2 tbody th, .sk_table_sub2 th, .sk_tableviolet_sub2 tbody th, .sk_tableviolet_sub2 th {
  color: white;
  background-color: #b00bb0;
  background-image: none;
  border-bottom-color: #721672;
}
.sk_table_sub2 thead th, .sk_table_sub2 thead td, .sk_tableviolet_sub2 thead th, .sk_tableviolet_sub2 thead td {
  color: #9d1e9d;
  border-color: #800880;
  background-color: white;
  border-bottom-color: #800880;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.sk_table_sub3, .sk_tableviolet_sub3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #9d1e9d;
  border-style: solid;
  border-width: 2px;
}
.sk_table_sub3 td, .sk_table_sub3 th, .sk_tableviolet_sub3 td, .sk_tableviolet_sub3 th {
  padding: 5px;
  border-right-color: #b00bb0;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_sub3 tbody th, .sk_table_sub3 th, .sk_tableviolet_sub3 tbody th, .sk_tableviolet_sub3 th {
  color: #b00bb0;
  border-color: #800880;
  background-color: white;
}
.sk_table_sub3 th, .sk_table_sub3 thead td, .sk_tableviolet_sub3 th, .sk_tableviolet_sub3 thead td {
  color: #9d1e9d;
  border-color: #800880;
  background-color: white;
}

.sk_table_sub4, .sk_tableviolet_sub4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub4 tr, .sk_tableviolet_sub4 tr {
  border-bottom-color: #b00bb0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub4 td, .sk_table_sub4 th, .sk_tableviolet_sub4 td, .sk_tableviolet_sub4 th {
  padding: 5px;
}
.sk_table_sub4 tbody th, .sk_table_sub4 th, .sk_tableviolet_sub4 tbody th, .sk_tableviolet_sub4 th {
  color: #9d1e9d;
  border-color: #721672;
  background-color: white;
}
.sk_table_sub4 th, .sk_table_sub4 thead td, .sk_tableviolet_sub4 th, .sk_tableviolet_sub4 thead td {
  color: #9d1e9d;
  border-color: #721672;
  background-color: white;
}

.sk_table_sub5, .sk_tableviolet_sub5 {
  border-collapse: collapse;
  background-color: white;
  border-top-color: #b00bb0;
  border-top-style: solid;
  border-top-width: 3px;
}
.sk_table_sub5 tr, .sk_tableviolet_sub5 tr {
  border-bottom-color: #b00bb0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub5 td, .sk_table_sub5 th, .sk_tableviolet_sub5 td, .sk_tableviolet_sub5 th {
  padding: 5px;
}
.sk_table_sub5 tbody th, .sk_table_sub5 th, .sk_tableviolet_sub5 tbody th, .sk_tableviolet_sub5 th {
  color: #9d1e9d;
  border-color: #721672;
  background-color: white;
}
.sk_table_sub5 th, .sk_table_sub5 thead td, .sk_tableviolet_sub5 th, .sk_tableviolet_sub5 thead td {
  color: #9d1e9d;
  border-color: #721672;
  background-color: white;
}
