.sk_header_main1, .sk_headerblue_main1 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #3333ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3333ff), color-stop(100%, #0000e6));
  background-image: -webkit-linear-gradient(top, #3333ff, #0000e6);
  background-image: -moz-linear-gradient(top, #3333ff, #0000e6);
  background-image: -o-linear-gradient(top, #3333ff, #0000e6);
  background-image: linear-gradient(top, #3333ff, #0000e6);
}

.sk_header_main2, .sk_headerblue_main2 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #3333ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3333ff), color-stop(100%, #0000e6));
  background-image: -webkit-linear-gradient(top, #3333ff, #0000e6);
  background-image: -moz-linear-gradient(top, #3333ff, #0000e6);
  background-image: -o-linear-gradient(top, #3333ff, #0000e6);
  background-image: linear-gradient(top, #3333ff, #0000e6);
}

.sk_header_main3, .sk_headerblue_main3 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #0000e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3333ff), color-stop(50%, #0000e6), color-stop(100%, #3333ff));
  background-image: -webkit-linear-gradient(top, #3333ff, #0000e6, #3333ff);
  background-image: -moz-linear-gradient(top, #3333ff, #0000e6, #3333ff);
  background-image: -o-linear-gradient(top, #3333ff, #0000e6, #3333ff);
  background-image: linear-gradient(top, #3333ff, #0000e6, #3333ff);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.sk_header_main4, .sk_headerblue_main4 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #0000e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0000e6), color-stop(100%, #3333ff));
  background-image: -webkit-linear-gradient(top, #0000e6, #3333ff);
  background-image: -moz-linear-gradient(top, #0000e6, #3333ff);
  background-image: -o-linear-gradient(top, #0000e6, #3333ff);
  background-image: linear-gradient(top, #0000e6, #3333ff);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_main5, .sk_headerblue_main5 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #0000e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #0000e6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #0000e6 40%, #ffffff);
  background-image: -moz-linear-gradient(top, #0000e6 40%, #ffffff);
  background-image: -o-linear-gradient(top, #0000e6 40%, #ffffff);
  background-image: linear-gradient(top, #0000e6 40%, #ffffff);
}

.sk_header_main6, .sk_headerblue_main6 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  background-color: #0000e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #0000e6));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #0000e6);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #0000e6);
  background-image: -o-linear-gradient(top, #ffffff 10%, #0000e6);
  background-image: linear-gradient(top, #ffffff 10%, #0000e6);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sk_header_main7, .sk_headerblue_main7 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  border-bottom-color: #0000e6;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #0000e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #0000e6));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #0000e6);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #0000e6);
  background-image: -o-linear-gradient(top, #ffffff 10%, #0000e6);
  background-image: linear-gradient(top, #ffffff 10%, #0000e6);
}

.sk_header_main8, .sk_headerblue_main8 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  border-bottom-color: #000099;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #0000e6;
}

.sk_header_main9, .sk_headerblue_main9 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  border-left-color: #7733ff;
  border-left-style: solid;
  border-left-width: 10px;
  background-color: #3333ff;
}

.sk_header_main10, .sk_headerblue_main10 {
  color: white;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #0000e6;
  border-style: solid;
  border-width: 2px;
  background-color: #0000e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0000e6), color-stop(100%, #3333ff));
  background-image: -webkit-linear-gradient(top, #0000e6, #3333ff);
  background-image: -moz-linear-gradient(top, #0000e6, #3333ff);
  background-image: -o-linear-gradient(top, #0000e6, #3333ff);
  background-image: linear-gradient(top, #0000e6, #3333ff);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.sk_header_sub1, .sk_headerblue_sub1 {
  color: #4747eb;
  line-height: 1.6;
  border-top-color: gainsboro;
  border-top-style: solid;
  border-top-width: 5px;
  border-bottom-color: #898989;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.sk_header_sub2, .sk_headerblue_sub2 {
  color: #4747eb;
  line-height: 1.6;
  border-left-color: #d5d4d9;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub3, .sk_headerblue_sub3 {
  color: #4747eb;
  line-height: 1.6;
  border-left-color: #3333ff;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
}

.sk_header_sub4, .sk_headerblue_sub4 {
  color: #4747eb;
  line-height: 1.6;
  border-bottom-color: #c8c8c8;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.sk_header_sub5, .sk_headerblue_sub5 {
  color: #4747eb;
  line-height: 1.6;
  padding-left: 5px;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-left-color: #3333ff;
  border-left-style: solid;
  border-left-width: 5px;
}

.sk_header_sub6, .sk_headerblue_sub6 {
  color: #4747eb;
  line-height: 1.6;
  border-bottom-color: #4747eb;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.sk_header_sub7, .sk_headerblue_sub7 {
  color: #0000e6;
  line-height: 1.6;
  border-bottom-color: #0000e6;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: -o-linear-gradient(top, #ffffff 10%, #efefef);
  background-image: linear-gradient(top, #ffffff 10%, #efefef);
}

.sk_table_main1, .sk_tableblue_main1 {
  border-collapse: collapse;
  color: #666666;
  background-color: white;
}
.sk_table_main1 td, .sk_table_main1 th, .sk_tableblue_main1 td, .sk_tableblue_main1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main1 tbody th, .sk_table_main1 th, .sk_tableblue_main1 tbody th, .sk_tableblue_main1 th {
  color: white;
  background-color: #4747eb;
  background-image: none;
  border-bottom-color: #1919e6;
}
.sk_table_main1 thead th, .sk_table_main1 thead td, .sk_tableblue_main1 thead th, .sk_tableblue_main1 thead td {
  color: white;
  border-color: #1919e6;
  background-color: #3333ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3333ff), color-stop(100%, #000099));
  background-image: -webkit-linear-gradient(top, #3333ff, #000099);
  background-image: -moz-linear-gradient(top, #3333ff, #000099);
  background-image: -o-linear-gradient(top, #3333ff, #000099);
  background-image: linear-gradient(top, #3333ff, #000099);
}
.sk_table_main1 td:first-child, .sk_table_main1 th:first-child, .sk_tableblue_main1 td:first-child, .sk_tableblue_main1 th:first-child {
  border-left-width: 0;
}

.sk_table_main2, .sk_tableblue_main2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main2 tr, .sk_tableblue_main2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main2 td, .sk_table_main2 th, .sk_tableblue_main2 td, .sk_tableblue_main2 th {
  padding: 5px;
}
.sk_table_main2 tbody th, .sk_table_main2 th, .sk_tableblue_main2 tbody th, .sk_tableblue_main2 th {
  color: white;
  background-color: #4747eb;
  background-image: none;
  border-bottom-color: #1919e6;
}
.sk_table_main2 thead th, .sk_table_main2 thead td, .sk_tableblue_main2 thead th, .sk_tableblue_main2 thead td {
  color: white;
  background-color: #3333ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3333ff), color-stop(100%, #000099));
  background-image: -webkit-linear-gradient(top, #3333ff, #000099);
  background-image: -moz-linear-gradient(top, #3333ff, #000099);
  background-image: -o-linear-gradient(top, #3333ff, #000099);
  background-image: linear-gradient(top, #3333ff, #000099);
}

.sk_table_main3, .sk_tableblue_main3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #4747eb;
  border-style: solid;
  border-width: 3px;
}
.sk_table_main3 td, .sk_table_main3 th, .sk_tableblue_main3 td, .sk_tableblue_main3 th {
  padding: 5px;
  border-right-color: #4747eb;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_main3 tbody th, .sk_table_main3 th, .sk_tableblue_main3 tbody th, .sk_tableblue_main3 th {
  color: white;
  background-color: #4747eb;
  background-image: none;
  border-bottom-color: #1919e6;
}
.sk_table_main3 th, .sk_table_main3 thead td, .sk_tableblue_main3 th, .sk_tableblue_main3 thead td {
  color: white;
  background-color: #3333ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3333ff), color-stop(100%, #000099));
  background-image: -webkit-linear-gradient(top, #3333ff, #000099);
  background-image: -moz-linear-gradient(top, #3333ff, #000099);
  background-image: -o-linear-gradient(top, #3333ff, #000099);
  background-image: linear-gradient(top, #3333ff, #000099);
}

.sk_table_main4, .sk_tableblue_main4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_main4 tr, .sk_tableblue_main4 tr {
  border-bottom-color: #4747eb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_main4 td, .sk_table_main4 th, .sk_tableblue_main4 td, .sk_tableblue_main4 th {
  padding: 5px;
}
.sk_table_main4 tbody th, .sk_table_main4 th, .sk_tableblue_main4 tbody th, .sk_tableblue_main4 th {
  color: white;
  background-color: #4747eb;
  background-image: none;
  border-bottom-color: #1919e6;
}
.sk_table_main4 th, .sk_table_main4 thead td, .sk_tableblue_main4 th, .sk_tableblue_main4 thead td {
  color: white;
  background-color: #3333ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3333ff), color-stop(100%, #000099));
  background-image: -webkit-linear-gradient(top, #3333ff, #000099);
  background-image: -moz-linear-gradient(top, #3333ff, #000099);
  background-image: -o-linear-gradient(top, #3333ff, #000099);
  background-image: linear-gradient(top, #3333ff, #000099);
}

.sk_table_main5, .sk_tableblue_main5 {
  border-collapse: collapse;
  color: #666666;
  border-color: #1919e6;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_main5 td, .sk_table_main5 th, .sk_tableblue_main5 td, .sk_tableblue_main5 th {
  padding: 5px;
  border-color: #4747eb;
  border-style: solid;
  border-width: 1px;
}
.sk_table_main5 tbody th, .sk_table_main5 th, .sk_tableblue_main5 tbody th, .sk_tableblue_main5 th {
  color: white;
  background-color: #4747eb;
  background-image: none;
  border-bottom-color: blue;
}
.sk_table_main5 thead th, .sk_table_main5 thead td, .sk_tableblue_main5 thead th, .sk_tableblue_main5 thead td {
  color: white;
  border-color: #1919e6;
  background-color: #3333ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3333ff), color-stop(100%, #000099));
  background-image: -webkit-linear-gradient(top, #3333ff, #000099);
  background-image: -moz-linear-gradient(top, #3333ff, #000099);
  background-image: -o-linear-gradient(top, #3333ff, #000099);
  background-image: linear-gradient(top, #3333ff, #000099);
}

.sk_table_sub1, .sk_tableblue_sub1 {
  border-collapse: collapse;
  color: #666666;
  border-color: blue;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.sk_table_sub1 td, .sk_table_sub1 th, .sk_tableblue_sub1 td, .sk_tableblue_sub1 th {
  padding: 5px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
}
.sk_table_sub1 tbody th, .sk_table_sub1 th, .sk_tableblue_sub1 tbody th, .sk_tableblue_sub1 th {
  color: #4747eb;
  border-color: blue;
  background-color: white;
}
.sk_table_sub1 thead th, .sk_table_sub1 thead td, .sk_tableblue_sub1 thead th, .sk_tableblue_sub1 thead td {
  color: #4747eb;
  border-color: #1919e6;
  background-color: white;
}

.sk_table_sub2, .sk_tableblue_sub2 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub2 tr, .sk_tableblue_sub2 tr {
  border-bottom-color: #e2e2e2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub2 td, .sk_table_sub2 th, .sk_tableblue_sub2 td, .sk_tableblue_sub2 th {
  padding: 5px;
}
.sk_table_sub2 tbody th, .sk_table_sub2 th, .sk_tableblue_sub2 tbody th, .sk_tableblue_sub2 th {
  color: white;
  background-color: #3333ff;
  background-image: none;
  border-bottom-color: #1919e6;
}
.sk_table_sub2 thead th, .sk_table_sub2 thead td, .sk_tableblue_sub2 thead th, .sk_tableblue_sub2 thead td {
  color: #4747eb;
  border-color: blue;
  background-color: white;
  border-bottom-color: blue;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.sk_table_sub3, .sk_tableblue_sub3 {
  border-collapse: collapse;
  background-color: white;
  border-color: #4747eb;
  border-style: solid;
  border-width: 2px;
}
.sk_table_sub3 td, .sk_table_sub3 th, .sk_tableblue_sub3 td, .sk_tableblue_sub3 th {
  padding: 5px;
  border-right-color: #3333ff;
  border-right-style: solid;
  border-right-width: 1px;
}
.sk_table_sub3 tbody th, .sk_table_sub3 th, .sk_tableblue_sub3 tbody th, .sk_tableblue_sub3 th {
  color: #3333ff;
  border-color: blue;
  background-color: white;
}
.sk_table_sub3 th, .sk_table_sub3 thead td, .sk_tableblue_sub3 th, .sk_tableblue_sub3 thead td {
  color: #4747eb;
  border-color: blue;
  background-color: white;
}

.sk_table_sub4, .sk_tableblue_sub4 {
  border-collapse: collapse;
  background-color: white;
}
.sk_table_sub4 tr, .sk_tableblue_sub4 tr {
  border-bottom-color: #3333ff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub4 td, .sk_table_sub4 th, .sk_tableblue_sub4 td, .sk_tableblue_sub4 th {
  padding: 5px;
}
.sk_table_sub4 tbody th, .sk_table_sub4 th, .sk_tableblue_sub4 tbody th, .sk_tableblue_sub4 th {
  color: #4747eb;
  border-color: #1919e6;
  background-color: white;
}
.sk_table_sub4 th, .sk_table_sub4 thead td, .sk_tableblue_sub4 th, .sk_tableblue_sub4 thead td {
  color: #4747eb;
  border-color: #1919e6;
  background-color: white;
}

.sk_table_sub5, .sk_tableblue_sub5 {
  border-collapse: collapse;
  background-color: white;
  border-top-color: #3333ff;
  border-top-style: solid;
  border-top-width: 3px;
}
.sk_table_sub5 tr, .sk_tableblue_sub5 tr {
  border-bottom-color: #3333ff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.sk_table_sub5 td, .sk_table_sub5 th, .sk_tableblue_sub5 td, .sk_tableblue_sub5 th {
  padding: 5px;
}
.sk_table_sub5 tbody th, .sk_table_sub5 th, .sk_tableblue_sub5 tbody th, .sk_tableblue_sub5 th {
  color: #4747eb;
  border-color: #1919e6;
  background-color: white;
}
.sk_table_sub5 th, .sk_table_sub5 thead td, .sk_tableblue_sub5 th, .sk_tableblue_sub5 thead td {
  color: #4747eb;
  border-color: #1919e6;
  background-color: white;
}
